@charset "UTF-8";


.content{
	margin: 140px 200px;
	text-align:center;   
	color:white;
}

#container{
		width: 1000px;
		margin: 0 auto;
	}


#footer{
		background-color: #3c3c3c;
		
        padding: 10px;
		position:fixed;
		bottom:0px;
		left:0px;
		right:0px;
		color:white;
		line-height: 50px;
		height: 50px;
		text-align: center;
		font-size:25px;
	}
	
.errorField{
	color : red;
}

body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
    }

    #webtoon-container {
        width: 80%;
/*        margin: 0 auto;*/
        background-color: #000;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .calendar-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Spread items across the container */
        gap: 20px;
    }

    .webtoon-item {
        flex-basis: calc(20% - 20px); /* Set the width of each item to 20% minus the gap */
        background-color: #fff;
        color: #000;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    .webtoon-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }