<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="main">
<h1>White Toon</h1>




<th:block th:if="${session.mdto==null}">
	<p>
		<a href="/user/login">SignIn</a>
		<a href="/user/addUser">SignUp</a>
	</p>
</th:block>
<th:block th:unless="${session.mdto==null}">
<!--	<p>-->
<!--		<span th:text="${session.mdto.role}"></span>-->
<!--		<span th:text="${session.mdto.id}"></span>-->
<!--		<a href="/user/logout">로그아웃</a>-->
<!--	</p>-->
</th:block>

<div calss="container">
	
	
 <div class="f_tag" id="profile">
  <div class="main_2">
  <a class="btn_tag_0">전체</a>
  <a class="btn_tag_1">학원</a>
  <a class="btn_tag_2">액션</a>
  <a class="btn_tag_3">스토리</a>
  <a class="btn_tag_4">판타지</a>
  <a class="btn_tag_5">개그/코믹</a>
  <a class="btn_tag_6">연애/순정</a>
  <a class="btn_tag_7">드라마</a>
  <a class="btn_tag_8">로맨스</a>
  <a class="btn_tag_9">시대극</a>
  <a class="btn_tag_10">스포츠</a>
  <a class="btn_tag_11">일상</a>
  <a class="btn_tag_12">성인</a>
  <a class="btn_tag_13">공포/스릴러</a>
  <a class="btn_tag_14">무협</a>
  </div>
 </div>
	
	<div id="webtoon-container">

    <div class="calendar-grid">
        <!-- Repeat the following block for each webtoon item -->
        <div class="webtoon-item">
            <img src="image/image1.png" alt="Webtoon 1 Image">
            <h3>현실퀘스트</h3>
            <p>연재중</p>
        </div>

        <div class="webtoon-item">
            <img src="image/image2.png" alt="Webtoon 2 Image">
            <h3>화산귀환</h3>
            <p>연재중</p>
        </div>

		<div class="webtoon-item">
            <img src="image/image3.png" alt="Webtoon 3 Image">
            <h3>김부장</h3>
            <p>연재중</p>
        </div>
        
        <div class="webtoon-item">
            <img src="image/image4.png" alt="Webtoon 4 Image">
            <h3>호랑이형님</h3>
            <p>연재중</p>
        </div>
        
        <div class="webtoon-item">
            <img src="image/image5.png" alt="Webtoon 5 Image">
            <h3>외모지상주의</h3>
            <p>연재중</p>
        </div>
        
        <div class="webtoon-item">
            <img src="image/image6.png" alt="Webtoon 6 Image">
            <h3>전지적독자시점</h3>
            <p>연재중</p>
        </div>
        
        <div class="webtoon-item">
            <img src="image/image7.png" alt="Webtoon 7 Image">
            <h3>광마회귀</h3>
            <p>연재중</p>
        </div>
        
        <div class="webtoon-item">
            <img src="image/image8.png" alt="Webtoon 8 Image">
            <h3>뷰티풀군바리</h3>
            <p>연재중</p>
        </div>
        
        <div class="webtoon-item">
            <img src="image/image9.png" alt="Webtoon 9 Image">
            <h3>신의 탑</h3>
            <p>연재중</p>
        </div>
        
        <div class="webtoon-item">
            <img src="image/image10.png" alt="Webtoon 10 Image">
            <h3>초인의시대</h3>
            <p>연재중</p>
        </div>
    </div>
</div>


<div calss="container">
	


 </div>
 </div>
 </div>
</div>
</div>
</div>
</body>
</html>






